 /* General Code */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(Images/wallhaven-je8d6y.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

p {
    color:black;
}

/* Transition */

a, .btn {
    transition: all 300ms ease; 
}

/*Desktop Navigations*/

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items:center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

a {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(226, 222, 222, 0.87);
    text-decoration:none;
    text-underline-offset: 1 rem;
    text-decoration-color: rgba(181,181,181);
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: flex;
  float: right;
  margin: 80px;
  margin-top: -100px;
}

.hamburger-menu {
  position: relative;
  display:inline block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 31px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.106);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/*Sections*/
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*Profile Section*/

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
  
}

img {
    padding: 0px;
    border-radius: 30px;
}

.section_text {
    align-self: end;
    text-align: end;
    padding-bottom: 60px;
}

.section_text p {
    font-weight: 400;
}

.section_text_p1 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.section_text_p2 {
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: black;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#socials-container {
    display: flex;
    justify-content: center;
    gap: -1rem; 
    margin-top: -50px;
    padding: -20px;
    height: 6rem;
}

/*Icons*/

.icon {
    cursor: pointer;
    margin: 4px;
    padding: 5px;
    height: 2rem;
}
/*Buttons*/
.btn-container-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 11px 29px;
    border: 4px solid;
    margin-left: 30px;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: inherit;
    border-radius: 2rem;
    font-weight: 500;
    width: 11rem;
    color: black;
    box-shadow: 0 0 0 2px rgb(66, 65, 65);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-container-button2 {
    position: relative;
    display: flex;
    top: -54px;
    margin-left: 235px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 10px 29px;
    border: 6px solid;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: inherit;
    border-radius: 2rem;
    font-weight: 500;
    width: 11rem;
    color: black;
    box-shadow: 0 0 0 2px rgb(66, 65, 65);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

  .btn-container-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }

  .btn-container-button2:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .btn-container-button:hover .arr-1 {
    right: -25%;
  }

  .btn-container-button2:hover .arr-1 {
    right: -25%;
  }
  
  .btn-container-button:hover .arr-2 {
    left: 16px;
  }
  
  .btn-container-button2:hover .arr-2 {
    left: 16px;
  }

  
  .btn-container-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(255, 176, 189);
  }

  .btn-container-button2:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(250, 177, 189);
  }
  
  .btn-container-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  .btn-container-button2:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

/*About Section*/

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgba(255, 255, 255, 0.166);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgba(163, 163, 163, 0.118);
  text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text_container {
  font-weight: 400;
  font-size: 1rem;
}
/*Experience Section*/

#experience {
    position: relative;
}

.experience-sub-title {
    color: black;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: center;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    flex-wrap:wrap;
    flex-direction: row;
    text-align: center;
    display: flex;
    width: 19rem;
    height:45px;
    justify-content:space-around;
    gap: 0.5rem;
}
  
article.icon {
    cursor:zoom-in;
    display: flex;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(92, 89, 89);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  
  /* FOOTER SECTION */
  
  footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }
  